#header-box, .projects-tabs {
	display: flex;
	justify-content: center
}

#header-box-text, .project-title-overlay {
	text-align: center
}

#header-box, .project-box-overlay {
	padding-top: 10px;
	padding-bottom: 10px
}

.exit-button, h1, h2, h3, h4, p {
	font-family: Cambria,Georgia,serif
}

#header-box {
	flex-wrap: wrap;
	gap: 50px
}

#header-box-text {
	flex-basis: 320px
}

#header-box-image {
	align-items: center;
	max-height: 250px;
}

.projects-tabs {
	flex-wrap: wrap;
	width: 95%;
	margin: auto;
	padding-left: 0;
	gap: 2vw
}

.project-button, .tab-button {
	display: flex;
	justify-content: center;
	width: 100%;
	border-radius: 5%/50%;
	max-width: 600px
}

.project-button {
	flex-wrap: wrap;
	background-color: #f08080
}

.project-summary, .project-title {
	width: 90%;
	text-align: center
}

.project-image {
	width: 90%;
	max-width: 600px;
	max-height: 250px
}

.background-overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.5);
	overflow-y: auto;
	max-width: 100%;
	max-height: 100%;
	border: none
}

.project-box-overlay {
	position: absolute;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 90%;
	border-radius: 5%/50%;
	background-color: #f08080;
	top: 5%;
	left: 5%
}

#footer-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 50px;
	padding-left: 20%;
	padding-right: 20%;
	gap: 10px;
	list-style-type: none
}

.footer-box-sub {
	padding: 10px;
	border-radius: 50%;
	background-color: #f08080
}

.footer-box-sub-image {
	max-width: 40px
}

button {
	background: 0 0;
	border: inherit;
	outline: inherit
}

.hidden-button {
	display: none
}

img, iframe, video {
	max-width: 90%;
	/* Override width and height, which is set by lazy_srcset for images and manually for iframes and videos. 
		 This lets image fit on screen .
		 https://stackoverflow.com/a/17183996 */
	width: auto;
	height: auto;
}

html {
	background-image: linear-gradient(transparent 0,rgba(240,128,128,.5) 100%);
	color-scheme: light;
	min-height: 100vh
}