#header-box, .projects-tabs {
	display: flex;
	justify-content: center
}

#header-box-text, .project-title-overlay {
	text-align: center
}

#header-box, .project-box-overlay {
	padding-top: 10px;
	padding-bottom: 20px
}

.exit-button, h1, h2, h3, h4, p, ul {
	font-family: Cambria,Georgia,serif
}

#header-box {
	flex-wrap: wrap;
	gap: 50px
}

#header-box-text {
	flex-basis: 320px
}

#header-box-image {
	align-items: center;
}

#header-box-image, .project-image {
	max-width: min(600px, 95%);
	max-height: min(250px, 95vh)
}

.projects-tabs {
	flex-wrap: wrap;
	width: 100%;
	margin: auto;
	padding-left: 0;
	gap: 2vw
}

.project-button, .tab-button {
	display: flex;
	justify-content: center;
	width: 100%;
	border-radius: 5%/50%;
	max-width: 600px
}

.project-button {
	flex-wrap: wrap;
	background-color: #f08080
}

.project-summary, .project-title {
	width: 90%;
	text-align: center
}

.background-overlay {
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
	background-color: rgba(0,0,0,.5);
	overflow-y: auto;
	border: none
}

#footer-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 0;
	margin: auto;
	gap: 10px;
	list-style-type: none
}

.footer-box-sub {
	padding: 10px;
	border-radius: 50%;
	background-color: #f08080
}

.footer-box-sub-image {
	max-width: 40px
}

button {
	background: 0 0;
	border: inherit;
	outline: inherit
}

.hidden-button {
	display: none
}

/* https://stackoverflow.com/questions/12991351/how-to-force-image-resize-and-keep-aspect-ratio */
img {
	max-width: 100%;
	max-height: 100vh;
	width: auto;
	height: auto
}

body {
	scrollbar-gutter: stable
}

html {
	background-image: linear-gradient(transparent 0,rgba(240,128,128,.5) 100%);
	color-scheme: light;
	min-height: 100vh
}
