#header-box, .projects-tabs {
	display: flex;
	justify-content: center
}

#header-box-text, .project-title-overlay {
	text-align: center
}

#header-box, .project-box-overlay {
	padding-top: 0.5em;
	padding-bottom: 1.5em
}

.exit-button, h1, h2, h3, h4, p, ul {
	font-family: Cambria,Georgia,serif
}

#header-box {
	flex-wrap: wrap;
	gap: 2em 3em
}

#header-box-text {
	flex-basis: 20em
}

#header-box-image {
	align-items: center;
}

#header-box-image, .project-image {
	max-width: min(40em, 95%);
	max-height: min(15em, 95vh)
}

.projects-tabs {
	flex-wrap: wrap;
	width: 95%;
	margin: auto;
	padding-left: 0;
	gap: 2em 3em
}

.project-button, .tab-button {
	display: flex;
	justify-content: center;
	width: 100%;
	max-width: 40em;
	border-radius: 5%/50%
}

.project-button {
	flex-wrap: wrap;
	background-color: #f08080
}

.project-summary, .project-title {
	width: 90%;
	text-align: center
}

.background-overlay {
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
	overflow-y: auto;
	border: none;
	background-color: rgba(0,0,0,.5)
}

#footer-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 3em;
	padding-bottom: 3em;
	padding-left: 0;
	margin: auto;
	gap: 0.5em;
	list-style-type: none
}

.footer-box-sub {
	padding: 0.5em;
	border-radius: 50%;
	background-color: #f08080
}

.footer-box-sub-image {
	max-width: 2.5em
}

button {
	background: 0 0;
	border: inherit;
	outline: inherit
}

.hidden-button {
	display: none
}

a {
	text-decoration: none;
	display: block;
	width: 100%;
	height: 100%;
}

/* https://stackoverflow.com/questions/12991351/how-to-force-image-resize-and-keep-aspect-ratio */
img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100vh
}

body {
	padding-left: calc(100vw - 100%)
}

html {
	background-image: linear-gradient(transparent 0,rgba(240,128,128,.5) 100%);
	color-scheme: light;
	min-height: 100vh
}
