#project-box {
  display: flex;
}

#project-box-left {
  flex-basis: 5%;
  background-image: radial-gradient(
    farthest-side at 100% 50%,
    lightcoral 80%,
    transparent 100%
  );
}

#project-box-centre {
  flex-basis: 90%;
  background-image: linear-gradient(
    to top,
    transparent 0%,
    lightcoral 10%,
    lightcoral 90%,
    transparent 100%
  );
}

#project-box-right {
  flex-basis: 5%;
  background-image: radial-gradient(
    farthest-side at 0% 50%,
    lightcoral 80%,
    transparent 100%
  );
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding-left: 5%;
  padding-right: 5%;
}

h2 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
