.tab-button {
	flex-wrap: wrap;
	background-color: #fff
}

.footer-box-sub:focus-within, .footer-box-sub:hover, .project-button:focus-within, .project-button:hover, .tab-button:focus-within, .tab-button:hover {
	transform: scaleY(1.04);
	transition: transform .4s
}

.project-text {
	width: 90%
}

.tab-text {
	display: none;
	width: 90%
}

.project-box-overlay {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	border-radius: 5%/50%;
	background-color: #f08080;
	margin: auto
}

.project-box-overlay:focus-within, .project-box-overlay:hover {
	transform: none;
	transition: none
}

.top-row {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 90%;
	padding-bottom: 1em
}

.exit-button {
	justify-self: right;
	margin-left: 85%;
	margin-bottom: 10px;
	cursor: pointer
}

iframe {
	max-width: 95%;
	height: 95vh;
	aspect-ratio: 8.5/12
}

video {
	width: 95%;
	max-height: 95vh;
	aspect-ratio: 16/9
}
