.tab-button {
	flex-wrap: wrap;
	background-color: #fff
}

.footer-box-sub:focus-within, .footer-box-sub:hover, .project-button:focus-within, .project-button:hover, .tab-button:focus-within, .tab-button:hover {
	transform: scaleY(1.04);
	transition: transform .4s
}

.project-image-overlay {
	max-width: 600px;
	max-height: 250px
}

.project-text {
	width: 90%
}

.tab-text {
	display: none;
	width: 90%
}

.project-box-overlay:focus-within, .project-box-overlay:hover {
	transform: none;
	transition: none
}

.top-row {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 90%;
	padding-bottom: 1em
}