#header-box {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-top: 10px;
	padding-bottom: 10px;
	gap: 50px;
}

#header-box-text {
	text-align: center;
	flex-basis: 320px;
}

#header-box-image {
	align-items: center;
	max-height: 250px;
	max-width: 600px;
}

.projects-tabs {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 95%;
	margin: auto;
	gap: 2vw; /* parent has no defined height so can't use % */
}

.project-button {
	position: relative;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	max-width: 600px;
	border-radius: 5% / 50%;
	background-color: lightcoral;
}

.tab-button {
	position: relative;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	max-width: 600px;
	border-radius: 5% / 50%;
	background-color: white;
}

.project-button:hover,
.project-button:focus-within,
.tab-button:hover,
.tab-button:focus-within {
	transform: scaleY(1.04);
	transition: transform 400ms;
}

.project-title {
	width: 90%;
	text-align: center;
}

.project-image {
	width: 90%;
	max-height: 250px;
	max-width: 600px;
}

.project-title-overlay {
	text-align: center;
}

.project-summary {
	width: 90%;
	text-align: center;
}


.project-text {
	width: 90%;
}

.tab-text {
	display: none;
	width: 90%;
}

/* https://www.w3schools.com/howto/howto_css_overlay.asp */
.background-overlay {
	width: 100%; /* Full width (cover the whole page) */
	height: 100%; /* Full height (cover the whole page) */
	background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
	overflow-y: auto;
	/* Overwriting defaults */
	max-width: 100%;
	max-height: 100%;
	border: none;
}

/* Not assuming inheritance from project-box as would cause issues with .querySelectorAll() */
.project-box-overlay {
	position: absolute;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 90%;
	border-radius: 5% / 50%;
	background-color: lightcoral;
	top: 5%;
	left: 5%;
	padding-top: 10px;
	padding-bottom: 10px;
}

.project-box-overlay:hover,
.project-box-overlay:focus-within {
	transform: none;
	transition: none;
}

.exit-button {
	justify-self: right;
	margin-left: 85%; /* margin so area is not clickable */
	margin-bottom: 10px;
	cursor: pointer;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.top-row {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 90%;
	padding-bottom: 1em; /* 1 em is 16 px (font size), matches paragraph's default padding */
}

#footer-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 50px;
	padding-left: 20%;
	padding-right: 20%;
}

#footer-box-sub {
	padding: 10px;
}

button {
	background: none;
	border: inherit;
	outline: inherit;
}

/* https://css-tricks.com/block-links-the-search-for-a-perfect-solution/ */
/* Fine to use 1 hidden button for projects & tabs as button isn't clickable so on() doesn't need to deal with it */
.hidden-button {
	display: none;
}

h1,
h2,
h3,
h4,
p {
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

img {
	object-fit: contain;
}

body {
	background-image: linear-gradient( transparent 0%, rgba(240, 128, 128, 0.5) 100% );
	min-height: 100vh;
	width: calc(100vw - 15px); /* 15 px is approximate scrollbar width */
}

html {
	color-scheme: light;
}
