#header-box {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 10px;
}

#header-box-text {
	flex-basis: 320px;
}

#header-box-image {
	display: flex;
	align-items: center;
	flex-basis: 200px;
}

.projects-tabs {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-left: 5%;
	padding-right: 5%;
}

.project-button {
	display: flex;
	flex: auto;
	width: 100%;
	max-width: 600px;
	border-radius: 5% / 50%;
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 1%;
	padding-bottom: 1%;
}

.project-button:hover {
	transform: scaleY(1.04);
	transition: transform 400ms;
}

.project-box-left {
	width: 5%;
	background-image: radial-gradient( farthest-side at 100% 50%, lightcoral 100%, transparent 100% );
}

.project-box-centre {
	display: flex;
	flex-direction: column;
	width: 90%;
	background-color: lightcoral;
}

.project-title {
	flex-grow: 1;
}

.project-image {
	height: 250px;
}

.project-box-right {
	width: 5%;
	background-image: radial-gradient( farthest-side at 0% 50%, lightcoral 100%, transparent 100% );
}

.tab-box-left {
	background-image: radial-gradient( farthest-side at 100% 50%, pink 100%, transparent 100% );
}

.tab-box-centre {
	background-color: pink;
}

.tab-box-right {
	background-image: radial-gradient( farthest-side at 0% 50%, pink 100%, transparent 100% );
}

.tab-text {
	display: none;
}

/* https://www.w3schools.com/howto/howto_css_overlay.asp */
.background-overlay {
	position: fixed; /* Sit on top of the page content */
	display: none; /* Hidden by default */
	width: 100%; /* Full width (cover the whole page) */
	height: 100%; /* Full height (cover the whole page) */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
	cursor: default; /* Add a pointer on hover */
	overflow-y: auto;
	color-scheme: auto;
}

.project-box-overlay {
	position: absolute;
	width: 90%;
	max-width: none;
	top: 5%;
	left: 5%;
	right: 5%;
	cursor: auto;
}

.project-box-overlay:hover {
	transform: none;
	transition: none;
}

.top-row {
	display: flex;
}

.exit-button {
	padding-top: 1.245em; /* 0.83 * 1.5 */
}

#footer-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 50px;
	padding-left: 20%;
	padding-right: 20%;
}

#footer-box-sub {
	margin: 10px;
}

button {
	background: none;
	color: inherit;
	border: inherit;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

h1 {
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

h2 {
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

p {
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

img {
	max-height: 100%;
	max-width: 100%;
}

body {
	background-image: linear-gradient( transparent 0%, rgba(240, 128, 128, 0.5) 100% );
	min-height: 100vh;
	width: calc(100vw - 15px); /* 15 px is approximate scrollbar width */
}

html {
	color-scheme: light;
}
