<!doctype html>
{% load static %}
{% load lazy_srcset %}
<html lang="en-ca">

<head>
	<meta charset="UTF-8">
	<meta name="description" content="Software Engineering Master's student with an array of experiences in embedded software development">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Marko Buha</title>
	<link rel="stylesheet" href="{% static 'projects/critical.css' %}">
	<link rel="stylesheet" href="{% static 'personal_site/normalize.css' %}">
	<!--These are loaded through JS so they can be deferred, but a backup is needed if no JS-->
	<noscript>
		<link rel="stylesheet" href="{% static 'projects/style.css' %}">
	</noscript>
	<link rel="icon" type="image/png" href="{% static 'personal_site/favicon-96x96.png' %}" sizes="96x96" />
	<link rel="icon" type="image/svg+xml" href="{% static 'personal_site/favicon.svg' %}" />
	<link rel="shortcut icon" href="{% static 'personal_site/favicon.ico' %}" />
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'personal_site/apple-touch-icon.png' %}" />
	<link rel="manifest" href="{% static 'personal_site/site.webmanifest' %}" />
</head>

<body>

	<header id="header-box">
		<section id="header-box-text">
			<h1>Marko Buha</h1>
			<p>Software Engineering Master's student with an array of experiences in embedded software development</p>
		</section>
		<!--Set fetch prio on non-dialog content per Google Lighthouse testing-->
		<img fetchpriority="high" id="header-box-image" {% srcset 'personal_site/portrait.webp' %} alt="Self-portrait">
	</header>

	<!--Lists are used as screen readers will read out "1 of 12", "2 of 12", etc.-->
	<ul class="projects-tabs">

		{% for project in projects %}
		<li class="project-button" id="project-button:{{project.slug}}">
			<h2 class="project-title" id="project-title:{{project.slug}}">{{project.title}}</h2>
			<img fetchpriority="high" class="project-image" id="project-image:{{project.slug}}" {% srcset project.image %} alt="{{project.image_text}}">
			<p class="project-summary" id="project-summary:{{project.slug}}">{{project.summary}}</p>
			<button type="button" class="hidden-button"></button>
		</li>
		{% endfor %}

	</ul>

	<ul id="footer-box">

		{% for external_site in external_sites %}
		<!--image_text is e.g. "email", "LinkedIn", etc.-->
		<li>
			<a class="footer-box-sub" href="{{ external_site.url }}">
				<img fetchpriority="high" class="footer-box-sub-image" {% srcset external_site.image %} alt="{{ external_site.image_text }}">
			</a>
		</li>
		{% endfor %}

		<!--resume-->
		<li class="footer-box-sub" id="footer-box-sub:resume">
			<img fetchpriority="high" class="footer-box-sub-image" {% srcset 'personal_site/resume.webp' %} alt="Resume.">
			<button type="button" class="hidden-button"></button>
		</li>

	</ul>

	{% for project in projects %}

	<dialog class="background-overlay" id="background-overlay:{{project.slug}}">
		<article class="project-box-overlay">
			<button class="exit-button" id="exit-button:{{project.slug}}" aria-label="Close dialog.">&#x2716;</button>
			<header class="top-row">
				<h2 class="project-title-overlay">{{project.title}}</h2>
				<img loading="lazy" class="project-image" {% srcset project.image %} alt="{{project.image_text}}">
			</header>

			{% if project.tab_set.all %}
			<!--Sections should have headers, this doesn't-->
			<div class="projects-tabs" role="tablist">

				{% for tab in project.tab_set.all %}
				<section class="tab-button" role="tab" aria-controls="tab-text:{{tab.id}}" id="tab-button:{{tab.id}}">
					<h3 id="h3:{{tab.id}}">{{tab.title}}</h3>
					<button class="hidden-button"></button>
				</section>
				{% endfor %}

			</div>

			<!--Accessibility https://www.reddit.com/r/accessibility/comments/1awwiic/comment/krkylp9-->
			<!--Need tab index to be able to move focus-->
			{% for tab in project.tab_set.all %}
			<aside class="tab-text" role="tabpanel" id="tab-text:{{tab.id}}" tabindex="0">
				{{tab.text|safe}}
			</aside>
			{% endfor %}
			{% endif %}

			{% if not project.tab_set.all %}
			<!--Using project-text for when there are no tabs-->
			<div class="project-text">
				{{project.text|safe}}
			</div>
			{% endif %}

		</article>
	</dialog>

	{% endfor %}

	<dialog class="background-overlay" id="background-overlay:resume">
		<article class="project-box-overlay">
			<button class="exit-button" id="exit-button:resume" aria-label="Close dialog.">&#x2716;</button>
			<!--Lazy loading as element needs to be visible when loaded to not generate OffsetParent error-->
			<!--Project text div so parent element is properly set for percentage based width-->
			<div class="project-text">
				<iframe src="{% static 'pdfjs/web/viewer.html' %}?file={% static 'personal_site/resume.pdf' %}" loading="lazy"></iframe>
			</div>
		</article>
	</dialog>

	<script src="{% static 'projects/critical.js' %}"></script>
	<script defer src="{% static 'projects/main.js' %}"></script>

</body>
</html>
