<!doctype html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Marko Buha</title>
  <link rel="stylesheet" href="{% static 'projects/style.css' %}">
  <link rel="stylesheet" href="{% static 'personal_site/normalize.css' %}">
  <link rel="shortcut icon" type="image/png" href="{% static 'personal_site/personal_site.jpg' %}">
</head>

<body>

  <header id="header-box">
    <div id="header-box-text">
      <h1>Marko Buha</h1>
      <p>Software Engineering Master's student with an array of experiences in embedded software development</p>
    </div>
    <div id="header-box-image">
      <img src="{% static 'personal_site/portrait.jpg' %}" alt="Self-portrait" />
    </div>
  </header>

  <div class="projects-tabs">

      {% for project in projects %}

      <button type="button" class="project-button" id="{{project.title}}" onclick="on(event)">
        <div class="project-title">
          <h2>{{project.title}}</h2>
        </div>
        <div class="project-image">
          <img src="{{ project.image.url }}" alt="Planets">
        </div>
        <div class="project-text">
          <p>{{project.summary}}</p>
        </div>
      </button>

      <aside class="background-overlay" id="{{project.title}}" onclick="off(event)">
        <div class="project-button project-box-overlay" id="{{project.title}}">
          <!-- A grid could've made more sense but ran into https://stackoverflow.com/q/74935509/17764200 and haven't been able to fix it yet -->
          <div class="top-row">
            <div class="project-title-overlay">
              <h2>{{project.title}}</h2>
            </div>
            <button type="button" class="exit-button" id="{{project.title}}" onclick="off(event)">&#x2716;</button>
          </div>
          <div class="project-image">
            <img src="{{ project.image.url }}" alt="Planets">
          </div>

          <div class="projects-tabs">
            {% for tab in project.tab_set.all %}
            <button class="project-button tab-button" type="button" id="{{tab.id}}" onclick="onTab(event)">
              <p>{{tab.title}}</p>
            </button>
            {% endfor %}
          </div>

          {% for tab in project.tab_set.all %}
          <aside class="tab-text" id="{{tab.id}}">
            <p>{{tab.text|safe}}</p>
          </aside>
          {% endfor %}

          <div class="project-text">
            {{project.text|safe}}
          </div>
        </div>
      </aside>

      {% endfor %}

  </div>

  <footer id="footer-box">
    {% for external_site in external_sites %}
    <div id="footer-box-sub">
      <a href="{{ external_site.url }}">
        <img src="{{ external_site.image.url }}" />
      </a>
    </div>
    {% endfor %}
  </footer>

  <script src="{% static 'projects/main.js' %}"></script>

</body>

</html>