# See https://fly.io/docs/app-guides/continuous-deployment-with-github-actions/

name: Fly & Lighthouse CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  deploy:
  
    name: Fly deploy app
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
      - uses: superfly/flyctl-actions/setup-flyctl@master
      - run: flyctl deploy --remote-only
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}

  lighthouse:
  
    name: Lighthouse test app
    runs-on: ubuntu-latest
    needs: deploy # This job will only run after 'deploy' completes successfully

    steps:
    - uses: actions/checkout@master
    - run: npm install
    - name: Run Lighthouse
      uses: foo-software/lighthouse-check-action@master
      with:
        urls: 'https://personal-site-mb.fly.dev'
    - name: Handle Lighthouse Check results
      uses: ./
      with:
        lighthouseCheckResults: ${{ steps.lighthouseCheck.outputs.lighthouseCheckResults }}
        minAccessibilityScore: "100"
        minBestPracticesScore: "82"
        minPerformanceScore: "100"
        minProgressiveWebAppScore: "0"
        minSeoScore: "100"
      env:
        DATABASE_URL: ${{ secrets.DATABASE_URL }}
