name: Fly & Lighthouse CI

on:
  pull_request:
    branches: [ "main" ]

jobs:
  # See https://fly.io/docs/app-guides/continuous-deployment-with-github-actions/
  deploy:
    concurrency: production_deployment_group # prevent multiple instances from running at same time
  
    name: Fly deploy app
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
      - uses: superfly/flyctl-actions/setup-flyctl@master
      - run: flyctl deploy --remote-only
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}

  lighthouse:
    concurrency: production_deployment_group # prevent multiple instances from running at same time
  
    name: Lighthouse test app
    runs-on: ubuntu-latest
    needs: deploy # This job will only run after 'deploy' completes successfully

    steps:
      - uses: actions/checkout@master
      - run: mkdir -p ${{ github.workspace }}/tmp/artifacts
      - name: Lighthouse
        uses: foo-software/lighthouse-check-action@master
        with:
          outputDirectory: ${{ github.workspace }}/tmp/artifacts
          urls: 'https://www.markobuha.ca'
      - name: Upload artifacts
        uses: actions/upload-artifact@master
        with:
          name: Lighthouse reports
          path: ${{ github.workspace }}/tmp/artifacts