name: Fly & Lighthouse CI
concurrency: production_deployment_group # prevent multiple workflow instances from running at same time

on:
  push:
    branches: [ "patch" ]

jobs:

  lighthouse:
    name: Lighthouse test app
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@master
      - run: mkdir -p ${{ github.workspace }}/tmp/artifacts
      - name: Sleep for 2 minutes
        run: sleep 2m
        shell: bash
      - name: Lighthouse
        uses: foo-software/lighthouse-check-action@master
        with:
          outputDirectory: ${{ github.workspace }}/tmp/artifacts
          urls: 'https://markobuha.ca'
      - name: Upload artifacts
        uses: actions/upload-artifact@master
        with:
          name: Lighthouse reports
          path: ${{ github.workspace }}/tmp/artifacts
