name: Fly & Lighthouse CI

on:
  pull_request:
    branches: [ "main" ]

jobs: # See https://fly.io/docs/app-guides/continuous-deployment-with-github-actions/
  lighthouse:
    
    name: Lighthouse test app
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@master
      - run: mkdir -p ${{ github.workspace }}/tmp/artifacts
      - name: Sleep for 2 minutes
        run: sleep 2m
        shell: bash
      - name: Lighthouse
        uses: foo-software/lighthouse-check-action@master
        with:
          outputDirectory: ${{ github.workspace }}/tmp/artifacts
          urls: 'https://personal-site-mb.fly.dev'
      - name: Upload artifacts
        uses: actions/upload-artifact@master
        with:
          name: Lighthouse reports
          path: ${{ github.workspace }}/tmp/artifacts
