name: Manual Lighthouse CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  lighthouse:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Install Lighthouse CI
        run: npm install -g @lhci/cli
      - name: Install project dependencies
        run: npm install
      - name: Build project
        run: npm run build
      - name: Start server (if needed)
        run: npm start & # Run in background
      - name: Run Lighthouse CI
        run: lhci autorun --config=./lighthouserc.js # Configure lighthouserc.js for URLs and assertions
